@tailwind base;

@tailwind components;

@tailwind utilities;


.bg-green{
    @apply bg-green-400
}
.bg-red{
    @apply bg-red-400
}
.bg-gray{
    @apply bg-gray-700
}


.text-green{
    @apply text-green-400
}
.text-red{
    @apply text-red-400
}
.text-gray{
    @apply text-gray-700
}